.backgroundImage {
    background-image: url(../../images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsl(257, 27%, 26%);
    padding: 1rem;
    margin-inline: 2rem;
    border-radius: .5rem;
    display:flex;
    flex-direction: column;
    margin-top: -4rem;
    gap:.5rem
}

@media screen and (min-width: 640px) {
    .backgroundImage {
        background-image: url(../../images/bg-shorten-desktop.svg);
        max-width: 1020px;
        margin-inline: 2rem;
        padding: 1.5rem;
    }
}